.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  /* max-width: 960px; */
  width: 100%;
  padding: 0 16px;
}

.chart-card {
  background-color: #e0e0e0;
  border-radius: 24px;
  padding: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #111;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 200px;
}
.chart-card h3 {
    font-size: 25px;
    margin-top: -25px;
}


.dashboard-title {

    color: #111;
    font-size: 40px;
    margin-top: 50px;

}

/* Responsive layout */
@media (max-width: 768px) {
  .chart-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .chart-card {
    font-size: 20px;
    padding: 40px;
  }
}